.products{
    font-size: 17px;
    margin : 3px;
    display: flex;
    flex-direction: column;
    .prodcutinfor{
        width : 324px;
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    .productimg{
        margin:0;
        width : 324px;
        height: 324px;
        border:solid 1px springgreen;
    }
    .productavdan{
        display: flex;
        flex-direction: row;
        justify-content:space-around;

        button{

            width:100px;
            
        }

    }
   

}